<div class="row" *ngIf="done == true">
    <div class="col-md-12">
        <div class="enTete">
            <ol class="breadcrumb">
                <li *ngFor="let item of filDariane">{{item}}</li>
            </ol>
        <h3 class="titleVisualisation">Etabs ({{nbEtabs}})<span data-toggle="modal" data-target="#createEtab" class="glyphicon glyphicon-plus mouse pull-right addVertexButton"></span><span *ngIf="activeItem == 'expression' || activeItem == 'rubrique' || activeItem == 'cri'" data-toggle="modal" data-target="#createLinkEtab" class="glyphicon glyphicon-link mouse pull-right addVertexButton"></span></h3>
        </div>
        <div class="bodyVisualisation">
            <table class="table table-striped">
                <thead>
                    <tr *ngIf="etabs">
                        <th class="thVisualisation">id</th>
                        <th class="thVisualisation">Denom</th>
                        <th *ngIf="activeItem === 'etab' || activeItem == 'expression' || activeItem == 'rubrique' || activeItem == 'cri'" [class.activeItemVisualisation]="activeItem == 'concept'" class="thVisualisation"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of etabs">
                        <td [class.activeItemVisualisation]="activeItem == 'etab'" class="itemVisualisation"><span (click)="search(item['@rid'])">{{item.id}}</span></td>
                        <td [class.activeItemVisualisation]="activeItem == 'etab'" class="itemVisualisation"><span (click)="search(item['@rid'])">{{item.denom}}</span></td>
                        <td  *ngIf="activeItem === 'etab' || activeItem == 'expression' || activeItem == 'rubrique' || activeItem == 'cri'" [class.activeItemVisualisation]="activeItem == 'etab'" class="itemVisualisation"><span (click)="deleteLink(item['@rid'])"><span class="glyphicon glyphicon-remove mouse" style="color:red;vertical-align: sub;"></span></span></td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
</div>
<div class="row" *ngIf="done == false">
    <div class="col-md-8" >
        <img class="centerLoader" src="{{loaderGif}}" alt="loader"/>
    </div>
</div>