.fleche {
	width: 50px;
	height: 25px;
}

.note {
	margin: 0 0 20px;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	border-radius: 0 4px 4px 0;
}

.note-info {
	background-color: #f5f8fd;
	border-color: #8bb4e7;
	color: #010407;
}

.custom-button-switch-filters {
	background: #F2784B;
	border: none;
	padding: 10px;
	text-transform: uppercase;
	color: #EEE;
	font-weight: bold;
	float: right;
	margin-right: 15px;
}

.full button span {
	background-color: limegreen;
	border-radius: 32px;
	color: black;
}
.partially button span {
	background-color: orange;
	border-radius: 32px;
	color: black;
}