<filtreSelectionnerTemplateAladin3 *ngIf="indexElastic == '/aladin3' || indexElastic == '/aladin4' || indexElastic == '/aladin2' || indexElastic == '/aladin1'"></filtreSelectionnerTemplateAladin3>
<filtreSelectionnerTemplateInsee *ngIf="indexElastic == '/insee'"></filtreSelectionnerTemplateInsee>
<filtreSelectionnerTemplateEtablissement *ngIf="indexElastic == 'baseEtablissement'"></filtreSelectionnerTemplateEtablissement>
<filtreSelectionnerTemplateRubrique *ngIf="indexElastic == '/rubrique'"></filtreSelectionnerTemplateRubrique>